.slider-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  border-radius: 10px 10px 10px 10px; /* Redondea solo los bordes inferiores */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1); /* Sombra */
}

.slide {
  float: left;
  display: none;
  
}

.slide img {
  width: 100%;
  height: auto;
  
}

.slide.active {
  display: block;
  
}